body {
  font-family: arial, sans-serif;
}
h1 {
  color: #6e5f5c;

  font-size: 24px;

  font-weight: 100;

  line-height: 28px;

  margin: 0;
}

ul {
  margin: 0 0 10px;

  padding: 0;
}

li {
  color: #6e5f5c;

  font-size: 16px;

  font-weight: 100;

  height: 19px;

  line-height: 1;

  list-style: none;
}

.weather-app {
  border: 1px solid #ffffff;

  padding: 35px;

  margin: 50px auto;

  border-radius: 20px;

  max-width: 600px;
  background: linear-gradient(
    70deg,
    rgb(112, 206, 220) 35.6%,
    rgb(200, 242, 84) 99.2%
  );
}
.form-control,
shadow-sm {
  background: radial-gradient(
    328px at 2.9% 15%,
    rgb(191, 224, 251) 0%,
    rgb(232, 233, 251) 25.8%,
    rgb(252, 239, 250) 50.8%,
    rgb(234, 251, 251) 77.6%,
    rgb(240, 251, 244) 100.7%
  );
  color: #35302f;
  transition: all 200ms ease;
  box-shadow: rgba(37, 39, 89, 0.08) 0px 8px 8px 0;
}
.shadow-sm {
  font-size: 16px;
  padding: 100px220px;
  border-radius: 20px;
  border-color: #ffffff;
}
.shadow-sm:hover {
  color: #5e4844;
  cursor: pointer;
  font-size: 22px;
}

.weather-icon {
  height: 64px;

  width: 64px;

  margin-right: 10px;
}

.temperature {
  color: rgb(33, 33, 33);

  font-size: 64px;

  font-weight: 400;

  line-height: 1;
}

.units {
  position: relative;

  top: -34px;
}

.search-form {
  margin-bottom: 20px;
}
